@import "src/assets/css/theme.sass"
@import "src/assets/css/desktop.sass"
@import "src/assets/css/mobile.sass"
@import "src/assets/css/sidebar.sass"
@import "src/assets/css/vars.sass"
*, *:before, *:after
    box-sizing: border-box
html, body
    margin: 0
.hidden
    visibility: hidden
#dark-purple
    color: $dark-purple-icon
#dark-green
    color: $forest-green-icon
#white
    color: $mid-gray-icon
// i
    // font-size: 28px
// .green
//     color: #31e833
// .red
//     color: #da1a54
button, a, router-link, RouterLink, i
    cursor: pointer

#appWrapper
    display: flex
    flex-direction: column
    font-family: Poppins, Roboto, verdana
    // height: 100dvh
    min-height: 100vh
    text-align: center
    justify-content: flex-start
.sidebar
    z-index: 100
.flex-column
    display: grid
    grid-auto-rows: min-content min-content auto min-content
    // display: flex
    // flex-direction: column
    // justify-content: space-around
    flex-grow: 1
.flex
    display: flex
// .flex-grow
//     flex-grow: 1
.home-content
    // padding-inline: 1.2em
    display: flex
    flex-direction: column
    // font-size-adjust: 0.5
    margin-inline: auto
    max-width: 36em
    line-height: 130%
    // overflow-y: scroll
    margin-block-end: 3em
    a
        display: inline
        color: $active
        text-decoration: none
    p
        padding-block: 0.2em
.active-link
    color: $active
.social-grp
    display: flex
    // width: inherit
    background-color: $social-grp-color
    // padding: 0.3em
    justify-content: center
    position: fixed
    bottom: 0
    width: 100vw
    justify-self: center
    padding: 0.2em
    // margin-block: auto
    // align-self: flex-end
    .social
        max-width: 1.9em
        min-width: 12%
        margin-inline: 0.3em
        // padding-inline: 0.3em
#style-selector
    position: fixed
    z-index: 2
    // display: flex
    // flex-direction: row
    width: 100vw
.btn-grp
    // font-size: 24px
    // display: grid
    display: flex
    flex-direction: row-reverse
    // margin-right: 2em
    width: 100vw
    grid-template-columns: repeat(10, 10%)
    // justify-self: flex-end
    margin-block: 3px
    padding-inline: 1em
    *
        align-self: center
        justify-self: center
    i
        margin-inline: 0.3em
    #dark-purple
        grid-column: 7 / 8
    #dark-green
        grid-column: 8 / 9
    #white
        grid-column: 9 / 10
        max-width: 10px
.home-changer
    position: fixed
    top: 3%
    display: flex
    // flex-direction: row
    z-index:1
    justify-self: center
    align-items: center
    padding-block: 0.3em
    font-size: 1.4em
    width: 100vw
    margin-block: 0.2em
    // margin-inline: auto
    i
        font-size: inherit
        cursor: pointer
        margin-inline: auto
.technomancy
        justify-content: center
        text-align: left
        li
            list-style: none
.developer
    display: flex
    flex-direction: column
    margin-block: auto
    padding: 1em 2em
    // font-size: 0.94em
    // text-align: left
    list-style-type: none
    h3
        margin-block: 0.4em
.artist
    display: flex
    flex-wrap: wrap
    justify-content: center
    span
        margin: 0 0.5em
.hero-image
    background: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet)
    border-radius: 0.2em
    padding: 1em 2em
    opacity: 0.7
    display: flex
    flex-direction: column
.adam-med
    margin: auto
    border-radius: 0.2em
    max-height: 40vh
    // height: auto
    opacity: 1
    max-width: 100%
.beacon-image
    background-image: url("@/assets/img/spiralstairs.jpeg")
    background-repeat: no-repeat
    background-size: contain
    opacity: 0.2
    min-width: 30vw
    min-height: 30vh
    // display: flex
    position: absolute
    left: 20vw
    top: 20vh
    z-index: 5
.beacon-container
    justify-content: center
    margin: auto
    padding-right: 1em
    padding-left: 4em
    *
        padding-block: 0.8em
        text-align: right
        margin: auto
        // text-shadow: 5px 5px 0.1 white
        // background-color: rgba(1, 1, 1, 1)
.time-link
    text-decoration: none
.integral-theory
    padding: 0
    h4
        margin-block: 0
    li
        list-style-type: none
.pitch-container
    audio
        max-width: 80vw
.tinytext
    justify-self: center
    display: flex
    // max-width: 650px
    // margin-inline: 5vw
    // font-size: 1.1em
    div
        cursor: pointer
        margin: 0.2em
    div:hover
        color: red

.stu-banner
    display: inline-block
    // width: 50%
    height: auto
    // min-width: 250px
    max-width: 100%
    border-radius: 10px