#appWrapper.vertical
    .flex-column
        font-size: 1.5em
    .home-content
        font-family: Poppins
        padding-inline: 0.4em
    .tinytext
        // justify-self: center
        // display: flex
        // max-width: 650px
        // margin-inline: 5vw
        font-size: 0.6em
    #landing-title
        margin-block-start: 25%
    .social
        max-width: 1.5em
        // min-width: 12%
        margin-inline: 0
        // padding-inline: 0.3em
