*, *:before, *:after
    box-sizing: border-box
html, body
    margin: 0
.flex-column
    display: flex
    flex-direction: column
.right
    align-self: flex-end
#appWrapper
    display: flex
    flex-direction: column
    font-family: Poppins, Roboto, verdana
    // height: 100vh
    text-align: center
    justify-content: space-between
.flex
    display: flex
.dark-purple
    background-color: #000000
    color: #aa64f1
    .sidebar
        background-color: #340a40
    .navItem
        background-color: #0e031b
.dark-green
    background-color: #000000
    color: #68f78e
    .sidebar
        background-color: rgb(7, 57, 32)
    .navItem
        background-color: #0a270a
.light-black
    background-color: #dad0d0
    color: #000000
    .sidebar
        background-color: rgb(24, 21, 36)
    .navItem
        background-color: #000
.hero-image
    background: linear-gradient(to top, red, orange, yellow, green, blue, indigo, violet)
    border-radius: 0.2em
    padding: 1em 2em
    display: flex
    flex-direction: column
.adam-med
    margin: auto
    border-radius: 0.2em
    max-height: 50vh
    max-width: 100%
.home-content
    padding-inline: 1.2em
.btn-grp
    display: grid
    width: 100vw
    grid-template-columns: repeat(10, 10%)
    #dark-purple
        color: #92099e
        grid-column: 7 / 8
    #dark-green
        color: #2f855a
        grid-column: 8 / 9
    #white
        color: #5a5a5a
        grid-column: 9 / 10
        max-width: 10px
.social-grp
    display: flex
    width: 100vw
    background-color: #dad0d0
    padding: 0.3em
    justify-content: center
    .social
        width: 1.9em
        margin-inline: 0.3em

