$mygreen: #31e833
$dark-purple: #92099e
$dark-green: #2f855a
$light-black: #5a5a5a
$medium-thalmon: rgb(245, 120, 89)

@mixin style-icons($name, $color)
    ##{$name}
        color: $color

@include style-icons("dark-purple", $dark-purple)
@include style-icons("dark-green", $dark-green)
@include style-icons("light-black", $light-black)
@include style-icons("medium-thalmon", $medium-thalmon)
@mixin unThemeMe($theme-name, $style-changer-color, $wrapper-bg, $wrapper-tx, $mod-bg, $sidebar-bg, $smooth-bg, $vid-div, $spice, $schleem, $hooks)
    #appWrapper.#{""+$theme-name}
        background-color: $wrapper-bg
        color: $wrapper-tx
        .rotate-180
            background-color: $sidebar-bg
        .home-changer, #style-selector
            background-color: $mod-bg
            i, .tinytext
                background-color: $mod-bg
            i:hover, .tinytext:hover
                background-color: $sidebar-bg

        #style-selector
            background-color: $wrapper-bg
        .sidebar
            background-color: $sidebar-bg

        // crossword
        #acrossDiv, #downDiv
            h2
                box-shadow: 1px 1px 5px 1px $hooks
        .couch
            // color: $schleem
            background-color: $vid-div
        // $style-changer-color, $wrapper-bg, $wrapper-tx, $mod-bg, $sidebar-bg, $smooth-bg, $vid-div, $spice, $schleem, $hooks
        .buttons
            background-color: $mod-bg
            color: $wrapper-tx
            span
                background-color: $spice
            span:hover
                color: lighten($wrapper-tx, 20%)
                background-color: darken($spice, 20%)
        .crossword-body
            span
                box-shadow: 1px 1px 5px 1px $sidebar-bg
        #puzzle-clues
            span:hover
                background-color: $hooks
            h2
                color: $wrapper-tx
                background-color: $mod-bg
            h2:hover
                background-color: $hooks



        #puzzle-body:not(.clearme)
            color: $wrapper-tx
        #puzzle-body .clearme
            color: $schleem
        .navItem, #puzzle-body .clearme
            background-color: $smooth-bg

        .video-div
            background-color: $vid-div
            border-color: $spice
        .login-page
            background-color: $mod-bg
            box-shadow: 1px 1px 5px 1px $spice
            border-radius: 8px
            h2
                // background-color: $sidebar-bg
                color: $spice
            input
                background-color: $wrapper-bg
                border: 1px solid $vid-div
                color: $wrapper-tx
                &[name="submit"]
                    border-radius: 8px
                    color: $style-changer-color
            i
                color: $wrapper-bg
                text-shadow: -1px -2px $spice
            a, router-link
                color: $wrapper-tx
                padding-block: 3px
            button, .login-submit-button
                cursor: pointer
                background-color: $smooth-bg
                margin: 3em
                padding: 1rem
                margin: 1rem auto
                color: $wrapper-tx
                border-radius: 8px
                border: 1px solid $wrapper-tx
                padding: 0.6rem 1rem

        // TIME
        .title-logo h2
            color: $spice
        .smiley
            background-image: linear-gradient(to bottom, $sidebar-bg, $style-changer-color, $sidebar-bg)
            i:hover
                color: $smooth-bg
        .active
            background-color: $vid-div
            background-color: $smooth-bg
            background-color: $wrapper-tx
            stroke: $spice
            fill: $spice
            color: $wrapper-bg
        .zenwheel
            text
                // cursor: pointer
                fill: $wrapper-tx
                stroke: $wrapper-tx
            text.active
                fill: $spice
                stroke: $spice
            .pie-chart
                fill: $mod-bg
        #habits
            h2
                box-shadow: 0 0 1px $sidebar-bg
        .holiday
            color: $spice

        .clock-hand
            stroke: $schleem
            stroke-width: 2
        .greg-dark, .greg-light, .greg-text
            stroke: $wrapper-tx
        .zen-borders
            stroke: $style-changer-color
            stroke: $wrapper-tx
            stroke: $smooth-bg
        .greg-dark
            fill: $smooth-bg
        .greg-light
            fill: $vid-div
        .greg-text
            fill: $wrapper-tx
        .zen-mint
            fill: $wrapper-tx
        .inner-rect
            fill: $spice
        .daytop-bg
            fill: $smooth-bg
        .daytop-tx
            fill: $wrapper-tx
            stroke: $wrapper-tx
        .alt-fill
            fill: $mod-bg
        .black-fill
            fill: $vid-div
        .session-before
            fill: $sidebar-bg
        .sessionActive
            fill: $spice
        .session-after
            fill: $vid-div
        .year-hand
            stroke: $schleem
        .year-clock-hand-axis
            fill: $spice

        .baheader-zen
            background-color: $mod-bg
            color: $wrapper-tx
        .unchunk
            color: $schleem
        .uncell
            background-color: $sidebar-bg
        
        .selected-date
            background-color: $mod-bg
            color: $spice
        .uncell-zen
            border: 1px solid $mod-bg
        .uncell-zen:hover
            background-color: $smooth-bg
        .zen-borders:hover
            fill: $smooth-bg
        .conversion-table
            background-color: $wrapper-bg
            table
                color: $wrapper-tx
                box-shadow: 0 0 8px 1px $schleem
                .th
                    border: 1px solid $style-changer-color
                .th-blue
                    border: 1px solid $sidebar-bg
        .info-panel
            z-index: 6000
            .btn-grp
                background-color: $mod-bg
                // color: red
                a:hover
                    color: green
                .active
                    color: blue

            i, .tinytext
                background-color: $mod-bg
            i:hover, .tinytext:hover
                background-color: $sidebar-bg
// $style-changer-color, $wrapper-bg, $wrapper-tx, $mod-bg, 
// $sidebar-bg, $smooth-bg, $vid-div, $spice
@include unThemeMe(thalmon, $medium-thalmon, #333, rgb(249, 194, 159), #1b0c10, #555, #2f1b14, #444, $medium-thalmon, #704433, lighten(orange, 20%))
@include unThemeMe(green, $dark-green, #161616, #68f78e, #100a14, #0a270a, rgb(0, 0, 0), #070708, #2f855a, rgb(31, 237, 55), #53e6cb)
@include unThemeMe(light, $light-black, #faf0f0, #012121, #c4acd4, #957fc8, #dad0d0, #5a5a5a, rgb(139, 107, 228), #022326, #666)
@include unThemeMe(dark, $dark-purple, #000000, #cfb0ef, #1e0127, #0e031b, #750ab7, #040007, #92099e, #6f8d7d, #333)

