@import "src/assets/css/vars.sass"
@font-face
	font-family: HK Grotesk
	src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Regular.otf?v=1603136326027")
@font-face
	font-family: HK Grotesk
	font-weight: bold
	src: url("https://cdn.glitch.me/605e2a51-d45f-4d87-a285-9410ad350515%2FHKGrotesk-Bold.otf?v=1603136323437")

// HMTL -> body -> div#app -> div#appWrapper -> sidebar, style-selector, .zen-wrapper ->
	// .title-logo, .zen-meters, .zenwheel.time-borders, .day-container.time-borders, section#habits

.zen-wrapper
	font-family: HK Grotesk
	overflow: hidden
	max-width: 100vw
	display: flex
	flex-direction: column
	align-items: center
	padding: 0px 5px
	max-width: 100vw
	// margin: 0 auto
	// font-size: 1em
	// max-width: 1970px
	// width: 100vw
	// display: grid
	// grid-auto-rows: 320px
	// justify-content: space-evenly
	// min-height: 100vh
	// grid-gap: 10px
	// @media screen and (min-width: 1440px)
		// grid-template: auto / 1fr 1fr
	// @media screen and (max-width: 425px)
		// display: flex
		// flex-direction: column
		// overflow-x: hidden
		// margin: 0
		// svg
			// transform: scaleX(60%)
		// overflow-x: scroll
	// @media screen and (max-width: 800px)
		// min-width: 100%
		// grid-template: 1fr / auto
	// color: $stein-lumenwhite
	// background-color: $midnight
		// line-height: 105%
	h1
		font-size: 2.7rem
	// h2
	// 	margin: 0 0 .4em
	// 	color: $hot-purple
	// 	font-size: 2rem
	// h3
		// margin: 0 0 .1em
		// font-size: 1.31em
		// color: $teal
	.selected
		background-color: $stein-purple
		color: white
		list-style: none
		font-size: 1.3em
		color: $safe-light
	a:hover
		text-decoration: none

// .time-border
	// padding: 0
	// margin: 0
	// border: 1px solid $greg-light
	// border-radius: 5px

.info-panel
	display: flex
	flex-direction: column
	position: fixed
	align-items: center
	z-index: 3
	bottom: 0
	right: 0
	color: $stein-lumenwhite
	background: rgba(11, 6, 14, 0.96)
	height: 100vh
	width: 100vw
	padding: 10%
	overflow: scroll
	h1
		margin: 1em 10%
		text-shadow: 1px 1px 10px black

.title-logo
	display: flex
	flex-direction: column
	// display: grid
	.holiday
		color: $slime-green
		display: block
	.smiley
		min-width: 200px
		margin: 1em auto
		padding: 0.6em 0 0.2em 0
		border-radius: 6px
		background-image: linear-gradient(to right, $stein-lumenwhite, white, $stein-lumenwhite)
		.table-modal
			i
				border-radius: 50%
				padding: 0.2em 1em
				font-size: 3em
			i.active
				color: lime
// TimeConversions
.conversion-table
	border-radius: 5px
	max-width: 80vw
	display: grid
	background-color: #151515
	align-items: stretch
	margin: 0.4rem
	padding: 0.6em
	grid-gap: 2rem
	table
		color: lavender
		box-shadow: 0 0 8px 1px lightblue
		font-size: 1.2rem
		th
			padding: 0.5rem 0.8rem
		.th
			border: 1px solid darkmagenta
		.th-blue
			border: 1px solid lightskyblue


.greg-dark, .greg-light, .zen-borders
	rx: 5px
	ry: 5px

.greg-dark
	stroke: $stein-lumenwhite
	fill: $greg-dark
.greg-light
	stroke: $stein-lumenwhite
	fill: $greg-light
.greg-text
	stroke: $stein-lumenwhite
	fill: $midnight-light
.center-circle
	fill: rgba(91, 246, 65, 0.7)
	stroke: white
	stroke-dasharray: 3 200
	stroke-width: 18

@keyframes tick-pulse
	0%
		transform: rotate(-90deg)
	to
		transform: rotate(270deg)
.tick-pulse
	animation: tick-pulse 1s ease
	animation-iteration-count: infinite
.clock-hand
	// stroke: $contrast-light
	stroke: rgba(91, 246, 65, 0.7)
	stroke-width: 2
.zen-rect
	stroke: $stein-lumenwhite
.zen-mint
	fill: $stein-lumenwhite
.zen-borders
	// fill: $slime-green
	fill: $stein-lilac
	stroke: $stein-lumenwhite



.flex-me
	display: flex
	// @media screen and (max-width: 800px)
		// margin: 0
		// flex-direction: column
.clock
	display: flex
	flex-direction: column
	svg
		margin: 4px
#habits
	display: flex
	flex-direction: column
	@media screen and (min-width: 799px)
		grid-gap: 30px
		display: grid
		// box-shadow: 0 0 2px $midnight-light
		margin: 1em
		align-items: space-around
.baheader
	text-align: center
	font-weight: 500
	height: 20px
	align-self: flex-end
.baheader-zen
	background-color: $secondary
	color: $stein-lumenwhite
.unchunk
	color: $safe-light
	display: grid
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr
	grid-gap: 2px
.uncell
	background-color: $midnight
	margin: 0
	padding: 1em
.uncell-zen
	border: 1px solid $secondary-light
	cursor: pointer
.uncell-zen:hover
	border: 1px solid $secondary
	background-color: $midnight-cream
.selected-date
	font-weight: bolder
	background-color: $stein-purple
	color: $primary




.dayname
	color: lime
.dayname-active
	background-color: darkViolet
.session-cell
	color: black
	background-color: lime
	text-align: left
.active
	background-color: darkViolet
.zenclock-container
	margin: 0.4em 6em
	// background-color: $stein-dark-purple
	cursor: pointer
	padding: 1em 0
	max-width: 100vw
	// div
		// padding: 1px 0
	.stroke-me
		stroke: $stein-lumenwhite
.zenwheel
	display: flex
	flex-direction: column
	align-items: center
	// margin: auto
	// justify-self: center
	text
		cursor: pointer
		// fill: white
	text.active
		fill: white
	.pie-chart
		fill: $light-teal
.above-cal
	@media screen and (max-width: 799px)
		// grid-template: auto / auto
		display: flex
		flex-direction: column
	@media screen and (min-width: 800px)
		display: grid
		grid-template: 3fr 1fr / 1fr
		justify-content: center
		align-items: flex-end
.zen-calendar
	display: flex
	flex-direction: column
	max-width: 100vw
	margin-inline: 1em
.day-container
	justify-self: center
	// justify-content: center
	display: flex
	flex-direction: column
	max-width: 100vw
	padding: 10px
	svg
		border-radius: 5px

	


// ANIMATIONS
@keyframes woggle
	0%
		transform: scale(1)
	50%
		transform: scale(0.7)
	70%
		transform: scale(1.2)
	100%
		transform: scale(0)
.wiggle-enter-active
	animation: woggle 0.5s reverse
.wiggle-leave-active
	animation: woggle 0.5s ease

.phase-enter-from, .phase-leave-to
	opacity: 0
.phase-leave-from, .phase-enter-to
	opacity: 1
.phase-enter-active, .phase-leave-active
	transition: opacity 0.5s ease
